body {
  padding: 0;
  margin: 0;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

body, html {
  height: 100%;
  margin: 0;
}

#game-intro {
  display: flex;
  background-image: url(../images/intropic.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  
}

#game-container {
  display: flex;
  width: 100vw;
  
  justify-content: center;
}

#sky-img {
  display: none;
}

#game-screen {
  display: none;
  align-content: center;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/sea.png);
  background-size: cover;
  animation: slide 5s linear infinite;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 15px;
}

@keyframes slide {
  from {
    background-position: 0px, 0px;
  }
  to {
    background-position: -3000px, -3000px;
  }
}

#game-end {
  display: none;
  background-image: url(/docs/images/gameover.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.logo-img {
  width: 1000px;
  position: center;
}

#win-game {
  display: none;
  background-image: url(/docs/images/wingamefinal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.arrows-img {
  width: 150px;
}

#start-button {
  font-family: "ArcadeClassic";
  font-size: 50px;
  background-color: #1f2fa500;
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 0px;
  margin-left: 900px;
  margin-top: 230px;
  position: absolute;
  left: 0px;
  cursor: pointer; 
}

#restart-button {
  font-family: "ArcadeClassic";
  font-size: 50px;
  background-color: #1f2fa500;
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  border: 0px;
  bottom: -520px;
  cursor: pointer; 
  position: relative;
  letter-spacing: 5px;
}

#restart-buttonWin {
  font-family: "ArcadeClassic";
  font-size: 50px;
  background-color: #1f2fa500;
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  position: relative;
  bottom: -650px;
  cursor: pointer; 
  letter-spacing: 5px;
}

#time-remaining {
  font-family: "ArcadeClassic";
  display: none;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 1px;
  position: fixed;
  letter-spacing: 1px;
  font-size: 40px;
}

