body {
  padding: 0;
  text-align: center;
}

#game-intro {
  
  background-image: url(../images/intropic.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  
}

#game-container {
  display: flex;
  width: 100vw;
  
  justify-content: center;
}

#sky-img {
  display: none;
}

#game-screen {
  display: none;
  align-content: center;
  margin-top: 50px;
  
  overflow: hidden;
  position: relative;
  background-image: url(../images/sea.png);
  background-size: cover;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  from {
    background-position: -60px, -10px;
  }
  to {
    background-position: -170px, -20px;
  }
}


#game-end {
  display: none;
}

#win-game {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
  
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #001087;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#time-remaining {
  font-family: "ArcadeClassic";
  display: none;
  text-align: center;
  color: rgb(0, 0, 0);
  top: 10px;
  left: 128px;
  position: absolute;
  letter-spacing: 1px;
  font-size: 40px;
}

